<div class="jumbotron">
  <div class="container">
    <h1>Stone Daddies</h1>
    <p>
      Stone Restoration | Granite Resealing | Travertine Polishing | Tile &amp; Grout
    </p>
    <button href="#hiw-section" class="btn btn-primary" type="button" name="button">Learn More</button>
  </div>
</div>
<div class="container">

  <hr>
  <!-- how it works section -->
  <section class="row" id="hiw-section">
    <h2 class="hdr-2">How It Works</h2>
    <div class="col-sm-4">
      <i class="fa fa-question"></i>
      <p>
        Have burning questions about how to go about restoring the stone, tile or grout in your personal residence or commercial building?
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-phone"></i>
      <p>
        Simply call or connect online to receive a free over the phone or in-person consulatation. Leave a question below with an email address and we'll get back to you ASAP.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-check"></i>
      <p>
        Rest easy knowing that Stone Daddies has your back and will provide client centered care and tips to make sure your job lasts through the ages!
      </p>
    </div>
  </section>
  <!-- end how it works -->
  <hr>
  <!-- contact form -->
  <section class="row" id="contact-section">
    <h2>Contact Us</h2>
    <form class="form-horizontal">
      <fieldset>
        <legend>Drop us a line</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
          <div class="col-lg-10">
            <input type="tel" name="usrtel" class="form-control" id="inputPhone" placeholder="(123)-456-7890">
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Message</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">Ask a question to the stone restoration experts or give us a little detail about the project you have in mind.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Options</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Would you rather us call you? (If so, please leave a number above!)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Would you rather us contact you through email?
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </section>

  <!-- End Contact -->
  <hr>

</div>
