<div class="main-content">
  <div class="swiper-container">
    <div class="scrim">
      <h1>STONE<span>DADDIES</span></h1>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background: url('<%= image_url('header/20160321_162632.jpg') %>') no-repeat center center; background-size: cover;">
      </div>
      <div class="swiper-slide" style="background: url('<%= image_url('header/20160520_172018.jpg') %>') no-repeat center center; background-size: cover;">
      </div>
      <div class="swiper-slide" style="background: url('<%= image_url('header/20160520_172029.jpg') %>') no-repeat center center; background-size: cover;">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="container">

    <div class="project-link col-sm-12" id="ceramic">
      <div class="row">
        <article class="project ceramic fait-derbyshire">
          <div class="project-header">
            <h2>Ceramic Hot Tub</h2>
            <button class="btn btn-project disabled" type="button" name="button">Learn More</button>
          </div>
          <div class="swiper-container-progress">
            <div class="scrim"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </article>
      </div>
    </div>

    <div class="project-link col-sm-12" id="#paverstone">
      <div class="row">
        <article class="project paverstone fait-derbyshire">
          <div class="project-header">
            <h2>Paverstone Master BR</h2>
            <button class="btn btn-project disabled" type="button" name="button">Learn More</button>
          </div>
          <div class="swiper-container-progress">
            <div class="scrim"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <%= render "partials/contact_form" %>
  <div class="container">

  </div>
</div>
