<div class="main-content">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h1>Providing Professional Quality and Life-Long Product Education</h1>
      </div>
      <div class="swiper-slide">
        <h2>Servicing Stone, Tile and Grout by restoring them to their former glory</h2>
      </div>
      <div class="swiper-slide">
        <h3>Stone Daddies wants our clients to be happy for a lifetime,<br> not just until the workers get paid and leave</h3>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="container">

    <div class="project-link col-sm-12">
      <div class="row">
        <article class="project ceramic fait-derbyshire">
          <div class="project-header">
            <h2>Ceramic Hot Tub</h2>
            <button class="btn btn-project" type="button" name="button">Learn More</button>
          </div>
          <div class="swiper-container-progress">
            <div class="scrim"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
              <div class="swiper-slide"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </article>
      </div>
    </div>

    <div class="project-link col-sm-12">
      <div class="row">
        <article class="project paverstone fait-derbyshire">
          <div class="project-header">
            <h2>Paverstone Master BR</h2>
            <button class="btn btn-project" type="button" name="button">Learn More</button>
          </div>
          <div class="swiper-container-progress">
            <div class="scrim"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <%= render "partials/contact_form" %>
</div>
