<div class="container">

  <a href="#" class="project-link col-sm-12">
    <article class="project">
      <div class="project-header">
        <h2>Travertine</h2>
        <button class="btn btn-project" type="button" name="button">Learn More</button>
      </div>
    </article>
  </a>
  <a href="#" class="project-link col-sm-12">
    <article class="project">
      <div class="project-header">
        <h2>Marble</h2>
        <button class="btn btn-project" type="button" name="button">Learn More</button>
      </div>
    </article>
  </a>
  <a href="#" class="project-link col-sm-12">
    <article class="project">
      <div class="project-header">
        <h2>Pavers Stone</h2>
        <button class="btn btn-project" type="button" name="button">Learn More</button>
      </div>
    </article>
  </a>
  <a href="#" class="project-link col-sm-12">
    <article class="project">
      <div class="project-header">
        <h2>Pressed Travertine</h2>
        <button class="btn btn-project" type="button" name="button">Learn More</button>
      </div>
    </article>
  </a>
  <a href="#" class="project-link col-sm-12">
    <article class="project">
      <div class="project-header">
        <h2>Blue Tile</h2>
        <button class="btn btn-project" type="button" name="button">Learn More</button>
      </div>
    </article>
  </a>

  <!-- <section>
    <div class="col-md-4">
      <div class="" style="height: 200px; width: 200px; border-radius: 50%; background-color: #222; margin: 0 auto;">
      </div>
    </div>
    <div class="col-md-4">
      <div class="" style="height: 200px; width: 200px; border-radius: 50%; background-color: #222; margin: 0 auto;">
      </div>
    </div>
    <div class="col-md-4">
      <div class="" style="height: 200px; width: 200px; border-radius: 50%; background-color: #222; margin: 0 auto;">
      </div>
    </div>
  </section> -->
  <!-- contact form -->
  <!-- <section class="row" id="contact-section">
    <h2>Contact Us</h2>
    <form class="form-horizontal">
      <fieldset>
        <legend>Drop us a line</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
          <div class="col-lg-10">
            <input type="tel" name="usrtel" class="form-control" id="inputPhone" placeholder="(123)-456-7890">
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Message</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">Ask a question to the stone restoration experts or give us a little detail about the project you have in mind.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Options</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Would you rather us call you? (If so, please leave a number above!)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Would you rather us contact you through email?
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </section> -->

</div>
