#static_pages-home {
  .main-content {
    margin-bottom: 100px;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    .scrim {
      color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      h1 {
        letter-spacing: 3.5px;
        font-weight: 800;
        font-size: 100px;
        @media(max-width: 767px){
          font-size: 36px;
        }
      }
      span {
        font-weight: 300;
        letter-spacing: normal;
      }
    }
    .swiper-slide {
      height: 400px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  .swiper-container-progress {
    height: 400px;
    margin: 10px auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    @media(max-width: 767px){
      height: 250px;
    }
    .scrim {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.15);
      z-index: 2;
    }
    .swiper-wrapper {

    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #222;
    }
  }


  .ceramic {
    &.fait-derbyshire {
      .swiper-slide {
        &:first-child {
          background: image-url('fait-derbyshire/ceramic/before/20160518_120211.jpg') no-repeat center center;
        }
        &:nth-child(2) {
          background: image-url('fait-derbyshire/ceramic/before/20160518_120241.jpg') no-repeat center center;
        }
        &:nth-child(3) {
          background: image-url('fait-derbyshire/ceramic/before/20160518_120250.jpg') no-repeat center center;
        }
        &:nth-child(4) {
          background: image-url('fait-derbyshire/ceramic/before/20160518_120259.jpg') no-repeat center center;
        }
        &:nth-child(5) {
          background: image-url('fait-derbyshire/ceramic/before/20160518_120310.jpg') no-repeat center center;
        }
        &:nth-child(6) {
          background: image-url('fait-derbyshire/ceramic/after/20160520_172018.jpg') no-repeat center center;
        }
        &:nth-child(7) {
          background: image-url('fait-derbyshire/ceramic/after/20160520_172041.jpg') no-repeat center center;
        }
        &:nth-child(8) {
          background: image-url('fait-derbyshire/ceramic/after/20160520_172056.jpg') no-repeat center center;
        }
        &:nth-child(9) {
          background: image-url('fait-derbyshire/ceramic/after/20160520_172110.jpg') no-repeat center center;
        }
        &:nth-child(10) {
          background: image-url('fait-derbyshire/ceramic/after/20160520_172122.jpg') no-repeat center center;
        }
        @media(max-width: 767px){
          &:first-child {
            background: image-url('fait-derbyshire/ceramic/before/20160518_120211-m.jpg') no-repeat center center;
          }
          &:nth-child(2) {
            background: image-url('fait-derbyshire/ceramic/before/20160518_120241-m.jpg') no-repeat center center;
          }
          &:nth-child(3) {
            background: image-url('fait-derbyshire/ceramic/before/20160518_120250-m.jpg') no-repeat center center;
          }
          &:nth-child(4) {
            background: image-url('fait-derbyshire/ceramic/before/20160518_120259-m.jpg') no-repeat center center;
          }
          &:nth-child(5) {
            background: image-url('fait-derbyshire/ceramic/before/20160518_120310-m.jpg') no-repeat center center;
          }
          &:nth-child(6) {
            background: image-url('fait-derbyshire/ceramic/after/20160520_172018-m.jpg') no-repeat center center;
          }
          &:nth-child(7) {
            background: image-url('fait-derbyshire/ceramic/after/20160520_172041-m.jpg') no-repeat center center;
          }
          &:nth-child(8) {
            background: image-url('fait-derbyshire/ceramic/after/20160520_172056-m.jpg') no-repeat center center;
          }
          &:nth-child(9) {
            background: image-url('fait-derbyshire/ceramic/after/20160520_172110-m.jpg') no-repeat center center;
          }
          &:nth-child(10) {
            background: image-url('fait-derbyshire/ceramic/after/20160520_172122-m.jpg') no-repeat center center;
          }
        }
      }
    }
  }
  .paverstone {
    &.fait-derbyshire {
      .swiper-slide {
        &:first-child {
          background: image-url('fait-derbyshire/paverstone/before/20160421_120210.jpg') no-repeat center center;
        }
        &:nth-child(2) {
          background: image-url('fait-derbyshire/paverstone/before/20160421_120254.jpg') no-repeat center center;
        }
        &:nth-child(3) {
          background: image-url('fait-derbyshire/paverstone/before/20160421_120304.jpg') no-repeat center center;
        }
        &:nth-child(4) {
          background: image-url('fait-derbyshire/paverstone/after/20160425_135422.jpg') no-repeat center center;
        }
        &:nth-child(5) {
          background: image-url('fait-derbyshire/paverstone/after/20160425_135448.jpg') no-repeat center center;
        }
        &:nth-child(6) {
          background: image-url('fait-derbyshire/paverstone/after/20160425_135459.jpg') no-repeat center center;
        }
        @media(max-width: 767px) {
          &:first-child {
            background: image-url('fait-derbyshire/paverstone/before/20160421_120210-m.jpg') no-repeat center center;
          }
          &:nth-child(2) {
            background: image-url('fait-derbyshire/paverstone/before/20160421_120254-m.jpg') no-repeat center center;
          }
          &:nth-child(3) {
            background: image-url('fait-derbyshire/paverstone/before/20160421_120304-m.jpg') no-repeat center center;
          }
          &:nth-child(4) {
            background: image-url('fait-derbyshire/paverstone/after/20160425_135422-m.jpg') no-repeat center center;
          }
          &:nth-child(5) {
            background: image-url('fait-derbyshire/paverstone/after/20160425_135448-m.jpg') no-repeat center center;
          }
          &:nth-child(6) {
            background: image-url('fait-derbyshire/paverstone/after/20160425_135459-m.jpg') no-repeat center center;
          }
        }
      }
    }
  }

  .project-link {
    margin: 2em 0 0;

    @media(max-width: 767px){
      margin: 0;
    }
    &:last-child {
      margin-bottom: 2em;
    }
    &:hover, &:active, &:focus {
        // .project-header {
        //   h2 {
        //     text-decoration: underline;
        //   }
        // }
    }
    .project {
      background-color: #222;
      height: 400px;
      color: #fff;
      position: relative;
      @media(max-width: 767px){
        height: 250px;
      }

      .project-header {
        position: absolute;
        bottom: 33%;
        left: 63%;
        cursor: default;
        z-index: 3;
        @media(max-width: 767px){
          bottom: 13%;
          left: 20%;
        }
      }
    }
  }

  #contact-form {
    padding: 20px 0 40px 0;
    background-color: #000;
    color: #fff;
    .btn {
      margin-top: 15px;
      color: #fff;
      &:hover, &:active, &:focus {
        color: #000;
      }
    }
  }
  .service-areas {
    margin-top: 20px;
    padding-bottom: 40px;

    .cities {
      border-top: 1px solid black;
      word-spacing: 1px;
      transition: height;
      transition-duration: 600ms;
      transition-timing-function: ease-in-out;;
      font-size: 12px;
      @media(max-width: 767px){
        height: 20px;
        overflow: hidden;
      }
    }
  }
}
