html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif, 'Arial';
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron {
  height: 450px;
}
.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  width: 950px;
  @media(max-width: 991px){
    width: 800px;
  }
  @media(max-width: 768px){
    width: 100%;
  }
  @media(max-width: 767px){
    width: 100%;
  }
}
.btn {
  padding: 5px 30px;
  border: 2px solid #fff;
  background-color: transparent;
  &:hover, &:active, &:focus {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
  }
}
.btn-link {
  border: 0;
  color: inherit;
  padding: 0;
  &:hover, &:active, &:focus {
    border: 0;
  }
}
.btn-primary {
  margin-top: 5px;
  color: #000;
  border: 1px solid #000;
  &:hover, &:active, &:focus {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
  }
}
.form-group {
  margin-bottom: 10px;
}
.fa {
  font-size: 2em;
}
a {
  color: #fff;
  cursor: grab;
  &:hover, &:active, &:focus {
    color: #555;
    text-decoration: none;
  }
}
.form-control:focus {
  // border-width: 1px;
  border-color: #007aff;
  ::-webkit-input-placedholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: #007aff;
  }
}
