html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif, 'Arial';
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron {
  height: 450px;
}
.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  width: 950px;
  @media(max-width: 991px){
    width: 800px;
  }
  @media(max-width: 768px){
    width: 100%;
  }
  @media(max-width: 767px){
    width: 100%;
  }
}
.btn {
  padding: 5px 30px;
  border: 2px solid #fff;
  background-color: transparent;
  &:hover, &:active, &:focus {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
  }
}
.form-group {
  margin-bottom: 10px;
}
.fa {
  font-size: 5em;
}
