#hiw-section {
  text-align: center;
  h2 {
    margin: 10px 0 20px;
  }
  > div {
    border-right: 1px solid #222;
    &:last-child {
      border-right: 0;
    }
  }
}
#contact-section {
  text-align: center;
  form {
    text-align: left;
  }
}
