<div id="footer">
  <div class="container-fluid">
    <div class="container">

      <div class="row">

        <div class="col-sm-6" id="top-footer">
          <div class="like-us">
            <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
            <p class="text">Like us on Facebook</p>
          </div>
          <div class="like-us">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
            <p class="text">
              Find us on Home Advisor
            </p>
          </div>
        </div>

        <div class="col-sm-6" id="links">
          <div>
            <a href="https://www.facebook.com/stonedaddies"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;Facebook</a>
          </div>
          <div>
            <a href="http://www.homeadvisor.com/rated.StoneDaddies.55577938.html"><i class="fa fa-home" aria-hidden="true"></i> Home Advisor</a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="contact-us">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" id="bottom-footer">
          <p>
            &copy; STONE DADDIES 2016
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
